@import '../../node_modules/bootstrap/scss/bootstrap.scss';


@import './components/variables.overwrite';
@import './components/offcanvas.overwrite';
@import './components/btn.overwrite';
@import './components/navbar.overwrite';
@import './components/background';
@import './components/404';
@import './components/font-size';
@import './components/hr';
@import './components/color';
@import './components/transition';
@import './components/rotate';
@import './components/shadow';
@import './components/img-card';

