.bg-home{
    background-image: url('./assets/Background-home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-skills{
    background-image: url('./assets/Background-skills.png');
    background-size: cover;
    background-position: center;
}
.bg-footer{
    background-color: #061E2E;
}