h1{
    font-size: 10vw;
}
.fs-6{
    font-size: 0.5rem;
}
.logo{
    font-size: 10vw;
    filter: grayscale(90%);;
    &:hover{
        filter: grayscale(0%) contrast(200%) drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.5)) ;
    }
}

p{
    font-size: 1.5rem;
}
@media screen and (max-width: 745px) {
    p{
    font-size: 5vw;
    }
    .logo{
        font-size: 5rem;
        filter: grayscale(0%);;
    }
}